@media screen and (min-width: 768px) {
.formBackground {
  height: 65rem;
}
form {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  color: #fff;
}
.formContainer {
  max-width: 70%;
  margin-top: 10rem;
  margin-left: 25%;
  margin-right: 25%;
  border: solid 1px #8A38F5;
  color: #FFF;
  padding: 20px;
}
.contactFormGreeting {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
}
.contactFooterContainer {
  margin-top: 15rem;
  margin-bottom: 5rem;
}
}

/* Tablet (≤1024px) */
@media (max-width: 1024px) {
form {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  color: #fff;
}
.formContainer {
  max-width: 70%;
  margin-top: 10rem;
  margin-left: 25%;
  margin-right: 25%;
  border: solid 1px #8A38F5;
  color: #FFF;
  padding: 20px;
}
.contactFormGreeting {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
}
.col-75 {
  width: 100%;
}
.recaptchaContainer {
  margin-right: 10%;
}
}

/*  Mobile Responsive (≤768px) */
@media (max-width: 768px) {
form {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  color: #fff;
}
.formContainer {
  max-width: 95%;
  margin-top: 35%;
  margin-left: 2%;
  margin-right: 1%;
  border: solid 1px #8A38F5;
  color: #FFF;
  padding: 20px;
}
.contactFormGreeting {
  font-size: x-large;
  color: #fff;
  display: flex;
  justify-content: center;
}
.checkboxContainer {
  margin-bottom: 5%;
}
}