/* Individual Projects */
.OPSG-image2 {
  max-width: 50%;
  max-height: 27rem;
}
@media screen and (min-width: 768px) {
  .project-section-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10rem 2rem 2rem 2rem;
  }
  .project-detail-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
    height: 1rem;
    gap: 1rem;
    margin: 0rem 0rem 2rem 3rem;
    width: max-content;
  }
  .project-detail-header-left {
    color: #fff;
    font-family: "JetBrains Mono";
    font-size: large;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .vertical-divider-line {
    border: 0.75px solid #fff;
    height: 0.75rem;
    width: 0.0025rem;
  }
  .project-detail-header-right {
    color: #8a38f5;
    font-family: "JetBrains Mono";
    font-size: large;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .OPSG-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85rem;
    margin: 5rem 0rem 0rem 3.25rem;
  }
  .OPSG-intro {
    display: flex;
    flex-direction: column;
  }
  .OPSG-intro-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .OPSG-intro-container2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  .project-title2 {
    font-size: x-large;
    width: 100%;
    color: #fff;
  }
  .project-description2 {
    color: #fff;
    font-size: medium;
    max-width: 52rem;
    margin: 2rem 0rem 2rem 0rem;
  }
  .project-link {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 2rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  .accent-line6 {
    height: 0.0625rem;
    max-width: 40%;
    margin: 0rem 0rem 2rem 0rem;
    background: #8a38f5;
  }
  .tool-icons2,
  .tool-icon {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    margin-bottom: 5%;
  }
  .OPSG-image1 {
    max-width: 50rem;
    margin: 0rem 2rem 8rem 2rem;
    padding: 10px;
  }
  .OPSG-intro-container2 {
    display: flex;
    flex-direction: row;
    margin: 5rem 0rem 5rem 0rem;
  }
  .OPSG-image2 {
    max-width: 50rem;
  }
  .project-description3 {
    color: #fff;
    font-size: medium;
    width: 40rem;
    margin: 2rem 0rem 2rem 4rem;
  }   
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
  }
  .projects-header-wrapper2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 6rem 0rem 3rem 3rem;
    justify-content: start;
    gap: 1rem;
  }
  .emphasized-text {
    color: #8a38f5;
  }
  .first-info-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: 1.75rem;
  }
}

/* Tablet (≤768px) */
@media (max-width: 768px) {
  .project-detail-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
    height: 1rem;
    gap: 1rem;
    margin-top: 15%;
    margin-bottom: 5%;
    width: max-content;
  }
  .project-detail-header-left {
    color: #fff;
    font-family: "JetBrains Mono";
    font-size: large;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .vertical-divider-line {
    height: 1rem;
    width: 0.0625rem;
    background-color: #fff;
  }
  .project-detail-header-right {
    color: #8a38f5;
  }

  .OPSG-container {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0% 5% 5% 5%;
  }
  .project-title2 {
    font-size: large;
    margin-bottom: 1%;
    order: 1;
  }
  .project-description2 {
    order: 2;
    max-width: 90%;
  }
  .project-link {
    order: 3;
    margin-bottom: 2%;
  }

  .accent-line6 {
    height: 0.0625rem;
    width: 75%;
    background-color: #8a38f5;
    margin-bottom: 2rem;
    margin-top: 1rem;
    order: 4;
  }
  .tool-icons,
  .tool-icon {
    /* display: flex;
    flex-direction: row; */
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }
  .tool-icons2 {
    order: 5;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 10%;
  }
  .OPSG-image1 {
    margin: 5% 0% 10% 0%;
    height: auto;
    width: 90%;
    order: 6;
    border: 1px solid #fff;
  }
  .OPSG-image2 {
    margin: 5% 0% 10% 0%;
    height: auto;
    width: 90%;
    order: 6;
    border: 1px solid #fff;
  }
  .project-description3 {
    order: 7;
    max-width: 90%;
  }
  .paragraph-spacer {
    height: 1rem;
  }
  .project-description4 {
    order: 8;
    max-width: 90%;
  }

  .project-detail-accent-wrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-left: 25%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    order: 9;
  }
  .accent-line3 {
    position: absolute;
    left: 0;
    width: 50%;
    height: 0.1rem;
  }
  .accent-box2 {
    transform: translate(200%, -100%);
  }
  .floating-accent-box2 {
    transform: translate(150%, -150%);
  }

  .all-projects {
    order: 11;
  }
}

/*  Mobile Responsive (≤768px) */
@media (max-width: 768px) {
  .project-detail-header-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    height: 1rem;
    width: 80%;
    margin: 30% 0% 10% 5%;
  }
  .vertical-divider-line {
    height: 1rem;
    width: 0.0625rem;
    background-color: #fff;
  }
  .project-detail-header-right {
    color: #8a38f5;
  }
  .OPSG-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    margin-left: 2%;
  }
  .project-title2 {
    font-size: large;
    margin-bottom: 1%;
    order: 1;
  }
  .project-description2 {
    font-size: small;
    order: 2;
    max-width: 90%;
  }
  .project-link {
    order: 3;
    margin: 2% 0% 2% 0%;
    text-decoration: none;
    color: #8a38f5;
  }
  .project-link:hover {
    text-decoration: underline;
  }

  .accent-line6 {
    height: 0.0625rem;
    width: 75%;
    background-color: #8a38f5;
    margin-bottom: 2rem;
    margin-top: 1rem;
    order: 4;
  }
  .tool-icons,
  .tool-icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }
  .tool-icons2 {
    order: 5;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 10%;
  }
  .OPSG-image1 {
    margin: 5% 0% 10% 0%;
    height: auto;
    width: 96%;
    order: 6;
    border: 1px solid #fff;
  }
  .OPSG-image2 {
    margin: 5% 5% 10% 0%;
    height: auto;
    width: 96%;
    order: 10;
    border: 1px solid #fff;
  }
  .project-description3 {
    order: 7;
    max-width: 90%;
  }
  .paragraph-spacer {
    height: 1rem;
  }
  .project-description4 {
    order: 8;
    max-width: 90%;
  }

  .project-detail-accent-wrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-left: 25%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    order: 9;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }
}

/* Small Mobile (≤480px) */
@media (max-width: 480px) {
  .mobile-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project-detail-header-left {
    margin: 0% 0% 0% 5%;
  }
  .vertical-divider-line {
    height: 1rem;
    width: 0.0625rem;
    background-color: #fff;
  }
  .project-detail-header-right {
    color: #8a38f5;
    margin: 0% 0% 0% 5%;
  }

  .OPSG-container,
  .OPSG-intro-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-width: 90%;
    margin: auto;
  }
  .OPSG-intro-container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-width: 90%;
  }
  .project-title2 {
    visibility: hidden;
  }
  .project-description2,
  .project-description3 {
    font-size: small;
    max-width: 94%;
    margin-bottom: 1rem;
  }
  .project-link {
    order: 3;
    margin: 3% 0% 2% 0% !important;
    text-decoration: none;
    color: #8a38f5;
  }
  .project-link:hover {
    text-decoration: underline;
  }

  .accent-line6 {
    height: 0.0625rem;
    width: 75%;
    background-color: #8a38f5;
    margin-bottom: 2rem;
    margin-top: 1rem;
    order: 4;
  }
  .tool-icons2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 80%;
  }
  .tool-icon,
  .tool-icons {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }
  .OPSG-image1 {
    margin: 5% 5% 10% 5%;
    height: auto;
    width: 96%;
    border: 1px solid #fff;
  }
  .OPSG-image2 {
    margin: 5% 5% 10% 5%;
    height: auto;
    width: 96%;
    border: 1px solid #fff;
  }
  .project-description3 {
    order: 7;
    max-width: 90%;
  }
  .paragraph-spacer {
    height: 1rem;
  }
  .project-description4 {
    order: 8;
    max-width: 90%;
  }

  .project-detail-accent-wrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-left: 25%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    order: 9;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }

}
