/* Individual Projects Section */

.projectDetailHeaderWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 18rem;
  height: 1rem;
  margin-top: 9rem;
  margin-bottom: 3rem;
}
.projectDetailHeaderLeft {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.verticalDividerLine {
  border: .75px solid #FFF;
  height: .75rem;
  width: .0025rem;
}
.projectDetailHeaderRight {
  color: #8A38F5;
  font-family: "JetBrains Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.OPSG-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex-shrink: 1;
}

.projectTitle2 {
  font-size: 1.5rem;
  width: 100%;
  color: #8a38f5;
}
.projectDescription2 {
  font-size: 0.9rem;
  max-width: 40%;
  align-self: stretch;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.projectLink {
  font-size: 1rem;
  color: #FFF;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.accentLine6 {
  height: 0.0625rem;
  max-width: 40%;
  margin: 2% 0% 2% 0%;
  background: #8A38F5;
}
.firstSiteImage {
  height: 25.5rem;
}

.toolIcons2,
.toolIcon {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  margin-right: 0.5rem;
}

  /* OPSG Project Page */
@media (max-width: 768px) {
  .projectDetailHeaderWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    max-width: 100%;
    height: 1rem;
    margin-top: 10rem;
  }
  .projectDetailHeaderRight {
    color: #8a38f5;
  }
  .verticalDividerLine {
    height: 1rem;
    width: 0.0625rem;
    background-color: #fff;
  }

  .OPSG-Container {
    display: flex !important;
    flex-direction: column;
  }
  .projectTitle2 {
    font-size: x-large;
    margin-bottom: 2rem;
    order: 1
  }
  .projectDescription2 {
    order: 2
  }
  .projectLink {
    order: 3
  }

  .accentLine6 {
    height: 0.0625rem;
    width: 75%;
    background-color: #8a38f5;
    margin-bottom: 2rem;
    margin-top: 1rem;
    order: 4
  }
  .toolIcons,
  .toolIcon {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    margin-right: 0.5rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
  }
  .toolIcons2 {
    order: 5;
    margin-bottom: 2rem;
  }
  .firstSiteImage {
   height: auto;
   width: 22rem;
   margin: 0 auto;
   order: 6;
   border: 1px solid #fff;
  }
  .projectDescription3 {
    order: 7;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .paragraphSpacer {
    height: 1rem;
  }
  .projectDescription4 {
    order: 8;
  }

  .projectDetailAccentWrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-left: 25%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    order: 9;
  }
  .accentLine3 {
    position: absolute;
    left: 0;
    width: 50%;
    height: 0.1rem;
  }
  .accentBox2 {
    transform: translate(200%, -100%);
  }
  .floatingAccentBox2 {
    transform: translate(150%, -150%);
  }

  .allProjects {
    order: 10;
  }
}
