/* Individual Projects */
@media screen and (min-width: 768px) {
.projectSectionContainer {
  width: min(90%, 1440px);
  margin: 0 auto;
}
.projectDetailHeaderWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 18rem;
  height: 1rem;
  gap: 1rem;
  margin: 10rem 0rem 2rem 3.25rem;
  width: max-content
}
.projectDetailHeaderLeft {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: large;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.verticalDividerLine {
  border: .75px solid #FFF;
  height: .75rem;
  width: .0025rem;
}
.projectDetailHeaderRight {
  color: #8A38F5;
  font-family: "JetBrains Mono";
  font-size: large;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.OPSG-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85rem;
  margin: 5rem 0rem 0rem 3.25rem;
}
.OPSGIntro {
  display: flex;
  flex-direction: column;
}
.OPSGIntroContainer {
  display: flex;
  flex-direction: row;
}
.projectTitle2 {
  font-size: x-large;
  width: 100%;
  color: #fff;
}
.projectDescription2 {
  color: #fff;
  font-size: medium;
  width: 32rem;
  margin: 2rem 2rem 2rem 0rem;
}
.projectLink {
  font-size: 1rem;
  color: #FFF;
  margin-bottom: 2rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.accentLine6 {
  height: 0.0625rem;
  max-width: 40%;
  margin: 0rem 0rem 2rem 0rem;
  background: #8A38F5;
}
.toolIcons2,
.toolIcon {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  margin-bottom: 5%;
}
.firstSiteImage {
  max-width: 50rem;
  aspect-ratio: inherit;
  margin: 0rem 0rem 5rem 5rem;
  padding: 10px;
}
}



/* Tablet (≤768px) */
@media (max-width: 768px) {

  .projectDetailHeaderWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
    height: 1rem;
    gap: 1rem;
    margin-top: 15%;
    margin-bottom: 5%;
    width: max-content
  }
    .projectDetailHeaderLeft {
    color: #FFF;
    font-family: "JetBrains Mono";
    font-size: large;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .verticalDividerLine {
    height: 1rem;
    width: 0.0625rem;
    background-color: #fff;
  }
  .projectDetailHeaderRight {
    color: #8a38f5;
  }


  .OPSG-Container {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0% 5% 5% 5%;;
  }
  .projectTitle2 {
    font-size: large;
    margin-bottom: 1%;
    order: 1
  }
  .projectDescription2 {
    order: 2;
    max-width: 90%;
  }
  .projectLink {
    order: 3;
    margin-bottom: 2%;
  }

  .accentLine6 {
    height: 0.0625rem;
    width: 75%;
    background-color: #8a38f5;
    margin-bottom: 2rem;
    margin-top: 1rem;
    order: 4
  }
  .toolIcons,
  .toolIcon {
    /* display: flex;
    flex-direction: row; */
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }
  .toolIcons2 {
    order: 5;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 10%;
  }
  .firstSiteImage {
   margin: 5% 0% 10% 0%;
   height: auto;
   width: 90%;
   order: 6;
   border: 1px solid #fff;
  }
  .projectDescription3 {
    order: 7;
    max-width: 90%;
  }
  .paragraphSpacer {
    height: 1rem;
  }
  .projectDescription4 {
    order: 8;
    max-width: 90%;
  }

  .projectDetailAccentWrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-left: 25%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    order: 9;
  }
  .accentLine3 {
    position: absolute;
    left: 0;
    width: 50%;
    height: 0.1rem;
  }
  .accentBox2 {
    transform: translate(200%, -100%);
  }
  .floatingAccentBox2 {
    transform: translate(150%, -150%);
  }

  .allProjects {
    order: 10;
  }
}

/*  Mobile Responsive (≤768px) */
@media (max-width: 768px) {

    .projectDetailHeaderWrapper {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    height: 1rem;
    margin: 30% 0% 10% 2%;
  }
  .projectDetailHeaderRight {
    color: #8a38f5;
  }
  .verticalDividerLine {
    height: 1rem;
    width: 0.0625rem;
    background-color: #fff;
  }

  .OPSG-Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    margin-left: 2%;
  }
  .projectTitle2 {
    font-size: large;
    margin-bottom: 1%;
    order: 1
  }
  .projectDescription2 {
    font-size: small;
    order: 2;
    max-width: 90%;
  }
  .projectLink {
    order: 3;
    margin: 2% 0% 2% 0%;
    text-decoration: none;
    color: #8A38F5;
  }
  .projectLink:hover {
    text-decoration: underline;
  }

  .accentLine6 {
    height: 0.0625rem;
    width: 75%;
    background-color: #8a38f5;
    margin-bottom: 2rem;
    margin-top: 1rem;
    order: 4
  }
  .toolIcons,
  .toolIcon {
    /* display: flex;
    flex-direction: row; */
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }
  .toolIcons2 {
    order: 5;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 10%;
  }
  .firstSiteImage {
   margin: 5% 0% 10% 0%;
   height: auto;
   width: 96%;
   order: 6;
   border: 1px solid #fff;
  }
  .projectDescription3 {
    order: 7;
    max-width: 90%;
  }
  .paragraphSpacer {
    height: 1rem;
  }
  .projectDescription4 {
    order: 8;
    max-width: 90%;
  }

  .projectDetailAccentWrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-left: 25%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    order: 9;
  }
  .projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }
  .allProjects {
    
  }
}
