/* Base Layout */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body,
#root,
.background {
  min-height: 100vh;
  background-color: #100310;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  color: #fff;
  overflow-x: hidden; /* prevent horizontal scroll */
}

.container {
  width: min(90%, 1440px);
  margin: 0 auto;
}

/* .pageGrid {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-width: 1050px;
  max-width: 1920px; 
  margin: 0 auto; 
  margin: 0rem 1rem 0rem .5rem;
  padding: 0 1rem;
   position: relative;
} */

section {
  /* display: block; */
  /* width: 100%; */
  /* max-width: 1920px; */
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

/*  Intro Section  */

.mainContainer {
  /* display: flex;
  flex: 1 1 100px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 5rem 5rem 0rem 5rem; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* margin-top: 10%; */
  /* gap: 2rem; */
  margin: 10% 0% 0% 8%;
}

/* Wrapper for header, content and accent line in intro */

.mainWrapper {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 8%;
  justify-content: center;
  justify-content: flex-start;
}
.mainHeader {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 2%;
}
.mainContent {
  font-size: medium;
  line-height: 1.5rem;
  margin-bottom: 2%;
}
.mainAccentLine {
  width: 80%;
  height: 0.0625rem;
  background-color: #8a38f5;
}

/* wrapper for photo and accent box */

.photoAndBoxWrapper {
  flex: 1 1 250px;
  max-width: 600px;
}
.mainWrapper {
  /* max-width: 40%;
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center; */
  flex: 1 1 400px;
  max-width: 600px;
}
/* .photoAndBoxWrapper {
  margin: 5% 0% 0% 0%;
} */
.myPhotoWrapper {
  position: absolute;
  width: 100%;
  max-width: 25rem;
  aspect-ratio: 1/1;
  border: 1px, solid, #fff;
  box-sizing: border-box;
  padding: 10px;
  background-size: contain;
}
.myPhoto {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/myPortrait.jpg");
  background-size: cover;
  box-sizing: border-box;
  /* background-position: center; */
}
.photoAccentBox {
  position: absolute;
  top: 80%;
  left: 78%;
  width: 40%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  /* width: 15vw;
  aspect-ratio: 1/1;
  height: 15vw;
  margin-top: -10%;
  margin-left: 75%; */

  background-image: linear-gradient(to right, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%),
    linear-gradient(to left, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 20px 1px, 1px 20px, 20px 1px, 1px 20px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}

/* section divider accent */

.accentWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30%;
  margin-bottom: 3%;
}
.secondAccentWrapper {
  display: flex;
  justify-content: center;
  margin-top: 18%;
  margin-bottom: 3%;
}
.accentLine3 {
  height: 0.0625rem;
  background: #8a38f5;
  width: 25%;
  z-index: 8;
  /* margin-top: 10%; */
}
.accentBox2 {
  max-height: 3rem;
  aspect-ratio: 1/1;
  z-index: 0 !important;
  margin-top: -2.9rem;
  margin-left: 5rem;
  background-image: linear-gradient(to right, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%),
    linear-gradient(to left, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}
.floatingAccentBox2 {
  max-height: 3rem;
  aspect-ratio: 1 / 1;
  z-index: 10 !important;
  margin-top: -1.5rem;
  margin-left: 3.5rem;
  background-image: linear-gradient(to right, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%),
    linear-gradient(to left, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}

/* About Section  */
.aboutMeContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  margin-left: 8%;
}

/* wrapper for header of section */

.aboutMeHeaderWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 8% 10% 0% 0%;
  justify-content: end;
  gap: 1rem;
}
.aboutMeHeader {
  font-size: xx-large;
  font-weight: 600;
}
.aboutMeHeaderAccentLine {
  height: 0.0625rem;
  width: 10%;
  background-color: #8a38f5;
}
.floatingAccentBox3 {
  border: 1px dashed rgb(255, 255, 255);
  padding: 10px;
  box-sizing: border-box;
}

/* accent boxes to the left of about me paragraph */

.boxWrapper,
.aboutParagraphWrapper {
  flex: 1 1 400px;
  max-width: 600px;
}

.accentBox4 {
  position: relative;
  width: 100%;
  max-width: 27.5rem;
  aspect-ratio: 5 / 4.5;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.floatingAccentBox4 {
  position: absolute;
  top: 87.5%;
  left: 89%;
  width: 22.7%;
  aspect-ratio: 1/1;
  box-sizing: border-box;

  background-image: linear-gradient(to right, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%),
    linear-gradient(to left, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 15px 1px, 1px 15px, 15px 1px, 1px 15px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}

.aboutParagraphWrapper {
  color: #fff;
  font-size: medium;
  margin-top: 2%;
}

.toolsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 5%;
}

.toolIcon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  margin-right: 0.5rem;
}

/* -------------------- Projects Section -------------------- */
.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  margin-left: 8%;
}

.projectsHeaderWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 8% 10% 5% 0%;
  justify-content: start;
  gap: 1rem;
}

.projectsHeader {
  font-size: xx-large;
  font-weight: 600;
}
.projectsHeaderAccentLine {
  height: 0.0625rem;
  width: 10%;
  background-color: #8a38f5;
}
.floatingAccentBox3b {
  border: 1px dashed rgb(255, 255, 255);
  padding: 10px;
  box-sizing: border-box;
}

.allProjectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 51%;
  justify-content: center;
  align-items: flex-start;
}
.projectsWrapper {
  margin-bottom: 30%;
}

.projectContainer {
  gap: 2rem;
}
.projectDescription {
  margin-bottom: 4%;
}

.footerContainer {
  margin-top: 2%;
  margin-bottom: 5%;
}
.footer {
  margin: auto;
  max-width: 35%;
  height: 0.0625rem;
  background-color: #8a38f5;
}

/* Tablet (≤1024px) */
@media (max-width: 1024px) {
  .container {
    width: min(90%, 1024px);
    margin: 0 auto;
  }
  .mainWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .photoAndBoxWrapper {
    order: 1;
    scale: 90%;
    width: 10rem;
    /* margin-right: 45%; */
    margin-top: 10.5rem;
  }
  .mainLandingText {
    order: 2;
    /* margin-bottom: -5rem; */
  }
  .mainHeader {
    /* margin-right: 7rem; */
    font-size: x-large;
    /* margin-top: -2rem; */
  }

  .mainHeader2 {
    font-size: x-large;
  }

  .headerWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* margin-bottom: 2rem; */
  }

  .accentLine2 {
    height: 0.1rem;
    margin-bottom: 3rem;
  }

  .accentBox1 {
    transform: translate(315%, -35%);
    scale: 10%;
    background-image: linear-gradient(to right, #fff 50%, transparent 50%),
      linear-gradient(to bottom, #fff 50%, transparent 50%),
      linear-gradient(to left, #fff 50%, transparent 50%),
      linear-gradient(to bottom, #fff 50%, transparent 50%);
    background-size: 8px 1px, 1px 8px, 8px 1px, 1px 8px;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-position: top left, top right, bottom left, top left;
  }
  .accentWrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-left: 25%;
    margin-top: 2rem;
  }
  .accentLine3 {
    position: absolute;
    left: 0;
    width: 50%;
    height: 0.1rem;
  }
  .accentBox2 {
    transform: translate(200%, -100%);
  }
  .floatingAccentBox2 {
    transform: translate(150%, -150%);
  }
}



/*  Mobile Responsive (≤768px) */
@media (max-width: 768px) {
  .container {
    width: min(90%, 768px);
    margin: 0 auto;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
  }

  .mainWrapper {
    display: flex;
    align-items: flex-start;
    /* flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    margin-top: 5rem;
    max-height: 13rem;
    order: 2;
    gap: 1rem;
  }
  .mainHeader {
    font-size: x-large;
    max-width: 20rem;
    margin-left: 1rem;
  }
  .mainContent {
    font-size: medium;
    margin-bottom: 1rem;
    max-width: 20rem;
    margin-left: 1rem;
  }
  .mainAccentLine {
    margin-left: 1rem;
  }

  .photoAndBoxWrapper {
    order: 1;
    scale: 175%;
    margin-right: 2rem;
    margin-top: 40%;
    max-height: 13rem;
  }
  .photoAccentBox {

  }


  /* accent line and boxes below main intro section */
  .accentWrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .accentLine3 {
    position: absolute;
    left: 0;
    width: 50%;
    height: 0.1rem;
  }
  .accentBox2 {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: -4rem;
    width: 23%;
    aspect-ratio: 1/1;
  }
  .floatingAccentBox2 {
      position: absolute;
    margin-top: 1.5rem;
    margin-left: -1rem;
    width: 23%;
    aspect-ratio: 1/1;
  }

  
  /*  About me section - mobile */
  .aboutMeHeaderWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    height: 1rem;
  }
  .aboutMeHeader {
    font-size: x-large;
  }
  .aboutMeHeaderAccentLine {
    width: 5rem;
    height: 0.1rem;
    margin-top: 1.25rem;
  }


  .aboutMeContainer {
    flex-direction: column;
    align-items: center;
    margin: 0;
    /* margin-top: 3rem; */
  }

  .boxWrapper,
  .aboutParagraphWrapper {
    max-width: 100%;
  }
  .accentBox4 {
    display: none;
    height: 0rem;
  }
  .floatingAccentBox4 {
    display: none;
    height: 0rem;
  }

  .aboutParagraphWrapper {
    margin: 0% 5% 0% 0%;
    height: 10px !important;
  }
  .toolsContainer {
    justify-content: flex-start;
  }

  .secondAccentWrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
  }
  .footerContainer {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .footer {
    margin: auto;
    max-width: 90%;
    height: 0.0625rem;
    background-color: #8a38f5;
  }
}
