/* base page layout containers, grid, scroll-behavior */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.background, #root, body {
  height: 209.75rem;
  background-color: #100310;
  margin: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.pageGrid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  /* gap: 1rem;  */
  margin: 0 auto; 
  padding: 0 1rem; 
  font-family: 'JetBrains Mono', monospace;
  color: #FFF;
  /* height: 209.75rem; */
  position: relative;
}

 /* between section spacer */
/* .sectionSpacer {
  grid-row: 10;
  grid-column: 2 / span 14;
} */


/* main intro section */
/* .mainWrapper {
  grid-template-columns: repeat(14, 1fr);
  grid-column: 2 / span 14; 
  display: grid;
  max-width: 1440px;
} */
.mainLandingText {
  grid-column: 2 / span 8;
  padding-top: 20.06rem;
  margin-top: 2rem;
  height: 2rem;
}
.mainHeader {
  font-size: 1.5rem;
  /* align-self: stretch; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  font-family: "JetBrains Mono";
}
.mainContent {
  padding-top: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accentLine2 {
  /* display: grid; */
  margin-top: 1.25rem;
  width: 20.3125rem;
  height: 0.0625rem;
  background: #8A38F5;
}

 /* my photo section */
.photoAndBoxWrapper {
 grid-column: 11 / span 6;
   margin-top: 2rem;
}
.myPhotoWrapper {
  /* display: grid; */
  position: relative;
  /* grid-column: 12 / span 4; */
  margin-top: 10.25rem;
  max-width: 26rem;
  aspect-ratio: 1 / 1;
  border: 1px, solid, #FFF; 
  padding: 10px;
  /* grid-row: 1 / 2; */
  background-image: url("../assets//images/myPortrait.jpg");
  background-size: cover;
}
.myPhoto {
  width: 100%;
  position: relative;
}
.accentBox1 {
  position: relative;
  max-height: 13.125rem;
  aspect-ratio: 1/1;
  grid-column: 13 / span 3;
  z-index: 8;
  flex-shrink: 0;
  bottom: 12.75%;
  left: 62%;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 20px 1px, 1px 20px, 20px 1px, 1px 20px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}

 /* first section divider accent after intro (boxes on left) */
 /* .betweenSectionContainerTop {
  grid-column: 6 / span  6;
  transform: translateY(-5rem);
 } */
.accentLine3 {
  position: relative;
  grid-column: 6 / span  6;
  grid-row: 2/20;
  height: 0.0625rem;
  background: #8A38F5;
  z-index: 8;
}
.accentBox2 {
  position: relative;
  max-height: 2.63rem;
  left: 12%;
  bottom: 2000%;
  aspect-ratio: 1/1;
  grid-row: 2/20;
  z-index: 8;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}
.floatingAccentBox2 {
  position: absolute;
  grid-column: 6 / span 1;
  grid-row: 2/20;         
  width: 2.63rem;
  aspect-ratio: 1 / 1;
  z-index: 1;
  bottom: 0%;
  left: 15.5%;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}

 /* second between section accents (boxes on right)*/

.betweenSectionContainer {
  grid-column: 6 / span 6;
  grid-row: 10/10;
  margin-top: 4rem;
  margin-bottom: 6rem;
} 
.betweenSectionAccentLine {
  position: relative;
  grid-column: 6 / span  6;
  margin-top: 5rem;
  margin: auto;
  height: 0.0625rem;
  background: #8A38F5;
  z-index: 8;
}
.betweenSectionAccentBox {
  position: relative;
  max-height: 2.63rem;
  aspect-ratio: 1/1;
  left: 80.5%;
  top: -2000%;
  /* right: -73.5%; */
  /* grid-column: 9 / span 1; */
  z-index: 8;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}
.betweenSectionFloatingAccentBox {
  position: absolute;
  grid-column: 11 / span 1;           
  width: 2.63rem;
  aspect-ratio: 1 / 1;
  right: 15.75%;
  bottom: -4200%;
  z-index: 8;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}


/* after projects footer line */
.betweenSectionAccentLine2 {
  grid-column: 6 / span  6;
  height: 0.0625rem;
  background: #8A38F5;
  z-index: 8;
}


/* third between sections accents (boxes on left)
.betweenSectionAccentBox2 {
  width: 2.63rem;
  aspect-ratio: 1/1;
  grid-column: 7 / span 1;
  transform: translate(2.7rem, -1.35rem);
  z-index: 8;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}
.betweenSectionFloatingAccentBox2 {
  grid-column: 6 / span 1;          
  width: 2.63rem;
  aspect-ratio: 1 / 1;
  z-index: 8;
  transform: translate(6.58rem, -5.25rem);
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
} */


/* about-me section */
.aboutMeContainer {
  grid-column: 1 / -1;
  display: contents;
}
/* .full-width-grid {
  grid-column: 1 /-1;
} */
.aboutGrid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 1rem;
  align-items: start;
  margin-top: 5rem;
}

/* about-me header */
.aboutMeHeaderWrapper {
  grid-column: 9 / span 6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2.6rem;
  margin-bottom: 2rem;
  position: relative;
}
.aboutMeHeader {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accentLine4 {
   position: relative;
   width: 11.875rem;
   height: 0.0625rem;
   background: #8A38F5;
   margin-left: .5rem;
   margin-right: .5rem;
   margin-top: 1.75rem;
}
.floatingAccentBox3 {
  height: 1.5rem;
  aspect-ratio: 1/1;
  margin-top: 1.75rem;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 10px 1px, 1px 10px, 10px 1px, 1px 10px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}

/* about-me main body */
.boxWrapper {
  position: relative;
  grid-column: 2 / span 6;
}
.accentBox4 {
  position: relative;
  width: 100%;
  max-width: 27.5rem;
  aspect-ratio: 5 / 4.5;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.floatingAccentBox4 {
  position: absolute;
  top: 87.5%;
  left: 89%;
  width: 22.7%;
  aspect-ratio: 1/1;
  box-sizing: border-box;

  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 15px 1px, 1px 15px, 15px 1px, 1px 15px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}
.aboutParagraphWrapper {
  grid-column: 9 / span 7;
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 38rem;
}
.aboutParagraph {
  margin-bottom: 1rem;
}
.bulletPointWrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}
.bulletPoint {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.toolsContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  aspect-ratio: 1/1;
  height: 3rem;
}


/* projectsSection  */
.projectsContainer {
  grid-column: 1 / -1;
  display: contents;
}
.full-width-grid {
  grid-column: 1 /-1;
}
.projectsGrid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 1rem;
  align-items: start;
}

/* projects header */
.projectsHeaderWrapper {
  grid-column: 2 / span 6; 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.projectsHeader {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accentLine5 {
  width: 11.875rem;
  height: 0.0625rem;
  background: #8A38F5;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1.75rem;
}
.floatingAccentBox5 {
  height: 1.5rem;
  aspect-ratio: 1/1;
  margin-top: 1.75rem;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 10px 1px, 1px 10px, 10px 1px, 1px 10px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}


/* projects main section */
.projectsWrapper {
  grid-column: 2 / span 14;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.firstProjectContainer {
  max-width: 20.3125rem;
  width: 100%;
  max-height: 30.1875rem;
  height: 100%;
  flex-shrink: 0;
  border: solid 1px #FFF;
  margin-top: 1.5rem;
}
.firstProjectImage {
  z-index: 0;
  width: 20.3125rem;
}
.firstDividerLine {
  width: 20.3125rem;
  flex-shrink: 0;
  border: solid 1px #FFF;
}
.firstInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.firstProjectTitle {
  color: #8A38F5;
  font-family: "JetBrains Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1rem;
}
.firstProjectDescription {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
}
a * {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.toolIcons {
  display: flex;
  align-items: center;
  transform: translate(-.1rem, -2.2rem);
  gap: 0.75rem;
  aspect-ratio: 1/1;
}
.toolIcon {
  width: 1.5rem;
  aspect-ratio: 1/1;
}

/* contact Section */

@media (max-width: 768px) {
  .pageGrid {
    grid-template-columns: repeat(4, 1fr); /* or a stacked layout */
  }

  .mainContent {
    grid-column: 1 / -1; /* full width on mobile */
  }
}



/* styling for submission form */
.checkbox {
  padding: 1rem 4rem 1rem 1rem;
}

.submitButton {
  width: 8em;
  height: 3em;
  background-color: gray;
  border: none;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

input[type=text], input[type=email], select, textarea{
  width: 100%;
  height: 2em;
  padding: 1em;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: rgba(244, 225, 225, 0.20);
  backdrop-filter: blur(12px);
}

label {
  padding: 1em 1em 1em 0em;
  display: inline-block;
}


/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.recaptchaContainer {
  display: none;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 8vw, 10rem);
}

.submitButton {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin-right: 201px;
}

.submitButton:hover {
  cursor: pointer;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


