/* Base Layout */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body,
#root,
.background {
  min-height: 100vh;
  background-color: #100310;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  color: #fff;
  overflow-x: hidden; /* prevent horizontal scroll */
}

.container {
  width: min(90%, 1440px);
  margin: 0 auto;
}

/* .pageGrid {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-width: 1050px;
  max-width: 1920px; 
  margin: 0 auto; 
  margin: 0rem 1rem 0rem .5rem;
  padding: 0 1rem;
   position: relative;
} */

section {
  /* display: block; */
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

/*  Intro Section  */
.mainWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8rem;
  justify-content: center;
  gap: 5rem;
}

.mainLandingText,
.photoAndBoxWrapper {
  /* flex: 1 1 300px; */
  max-width: 600px;
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.photoAndBoxWrapper {
  margin-left: 16rem;
}

.mainHeader {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.mainHeader2 {
  font-size: 2rem;
}

.mainContent {
  font-size: 1rem;
  line-height: 1.5rem;
}

.accentLine2 {
  width: 100%;
  height: 0.0625rem;
  background-color: #8a38f5;
  margin-top: 1rem;
}

.myPhotoWrapper {
  width: 600px;
  height: 600px;
  border: 1px, solid, #fff;
  padding: 10px;
}

.myPhoto {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/myPortrait.jpg");
  background-size: cover;
  /* background-position: center; */
}

.accentBox1 {
  width: 15rem;
  height: 15rem;
  margin-top: -12rem;
  margin-left: 95rem;
  z-index: 15;
  background-image: linear-gradient(to right, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%),
    linear-gradient(to left, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 20px 1px, 1px 20px, 20px 1px, 1px 20px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}

/* first section divider accent after intro (boxes on left) */
.accentWrapper {
  display: flex;
  justify-content: center;
}
.accentLine3 {
  height: 0.0625rem;
  background: #8a38f5;
  width: 25%;
  z-index: 8;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.accentBox2 {
  max-height: 3rem;
  aspect-ratio: 1/1;
  z-index: 0 !important;
  margin-top: -2.9rem;
  margin-left: 5rem;
  background-image: linear-gradient(to right, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%),
    linear-gradient(to left, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}
.floatingAccentBox2 {
  max-height: 3rem;
  aspect-ratio: 1 / 1;
  z-index: 10 !important;
  margin-top: -1.5rem;
  margin-left: 3.5rem;
  background-image: linear-gradient(to right, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%),
    linear-gradient(to left, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}

/* -------------------- About Section -------------------- */
.aboutMeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
}

/* .aboutMeHeaderWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
} */

.aboutMeHeader {
  font-size: 2.25rem;
  font-weight: 400;
}

.accentLine2 {
  margin-top: 1.5rem;
}

.accentLine4 {
  max-width: 10rem;
  height: 0.0625rem;
  background-color: #8a38f5;
}

.floatingAccentBox3 {
  width: 1.5rem;
  aspect-ratio: 1/1;
  background-image: linear-gradient(to right, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%),
    linear-gradient(to left, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 10px 1px, 1px 10px, 10px 1px, 1px 10px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
}

.boxWrapper,
.aboutParagraphWrapper {
  flex: 1 1 400px;
  max-width: 600px;
}

.aboutParagraphWrapper {
  color: #fff;
  font-size: 1rem;
}

.toolsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.toolIcon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  margin-right: 0.5rem;
}

/* -------------------- Projects Section -------------------- */
.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.headerWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.projectsHeader {
  font-size: 2.25rem;
  font-weight: 400;
}

.accentLine5 {
  margin-top: 1.5rem;
}

.floatingAccentBox5 {
  width: 1.5rem;
  aspect-ratio: 1/1;
  background-image: linear-gradient(to right, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%),
    linear-gradient(to left, #fff 50%, transparent 50%),
    linear-gradient(to bottom, #fff 50%, transparent 50%);
  background-size: 10px 1px, 1px 10px, 10px 1px, 1px 10px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
}

.footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 90%;
  height: 0.0625rem;
  background-color: #8a38f5;
}

/* -------------------- Mobile Responsive -------------------- */
@media (max-width: 768px) {
  .mainWrapper {
    flex-direction: column;
    align-items: center;
  }
  .photoAndBoxWrapper {
    order: 1;
    scale: 130%;
    margin-right: 3rem;
    margin-top: 1.5rem;
  }
  .mainLandingText {
    order: 2;
    /* margin-bottom: -5rem; */
  }
  .mainHeader {
    margin-right: 7rem;
    font-size: x-large;
    margin-top: -2rem;
  }

  .mainHeader2 {
    font-size: x-large;
  }

  .headerWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* margin-bottom: 2rem; */
  }

  .accentLine2 {
    height: 0.1rem;
    margin-bottom: 3rem;
  }

  .accentBox1 {
    transform: translate(315%, -35%);
    scale: 150%;
    background-image: linear-gradient(to right, #fff 50%, transparent 50%),
      linear-gradient(to bottom, #fff 50%, transparent 50%),
      linear-gradient(to left, #fff 50%, transparent 50%),
      linear-gradient(to bottom, #fff 50%, transparent 50%);
    background-size: 8px 1px, 1px 8px, 8px 1px, 1px 8px;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-position: top left, top right, bottom left, top left;
  }
  .accentWrapper {
    position: relative;
    width: 100%;
    height: 1rem;
    margin-left: 25%;
    margin-top: 2rem;
  }
  .accentLine3 {
    position: absolute;
    left: 0;
    width: 50%;
    height: 0.1rem;
  }
  .accentBox2 {
    transform: translate(200%, -100%);
  }
  .floatingAccentBox2 {
    transform: translate(150%, -150%);
  }

  /*  About me section - mobile */
  .accentLine4 {
    width: 8rem;
    height: 0.1rem;
    margin-top: 1.25rem;
  }
  .floatingAccentBox3 {
    transform: translate(-50%, 50%);
    background-image: linear-gradient(to right, #fff 50%, transparent 50%),
      linear-gradient(to bottom, #fff 50%, transparent 50%),
      linear-gradient(to left, #fff 50%, transparent 50%),
      linear-gradient(to bottom, #fff 50%, transparent 50%);
    background-size: 8px 1px, 1px 8px, 8px 1px, 1px 8px;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-position: top left, top right, bottom left, top left;
  }

  .aboutMeContainer {
    flex-direction: column;
    align-items: center;
    margin: 0;
    /* margin-top: 3rem; */
  }

  .boxWrapper,
  .aboutParagraphWrapper {
    max-width: 100%;
  }

  .toolsContainer {
    justify-content: flex-start;
  }

  .accentWrapper2 {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
  }
  .footerContainer {
   display: flex;
   justify-content: center;
   width: 100%;
  }
  .footer {
    width: 90%;
    height: 0.1rem;
    background-color: #8a38f5;
    margin-bottom: 2rem;
  }
}
