html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
body,
#root,
.background {
  min-height: 100vh;
  background-color: #100310;
  margin: auto;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  color: #fff;
  overflow-x: hidden; /* prevent horizontal scroll */
}
.container {
  width: min(90%, 1440px);
  margin: 0 auto;
}
section {
  padding: 2rem 1rem;
  box-sizing: border-box;
}

/* Mobile (≤ 767px) */
@media (max-width: 767px) {
  .main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0rem 0rem 0rem;
  }

  .main-wrapper {
    flex: 1 1 400px;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 6rem;
    max-height: 13rem;
    order: 2;
    gap: 1rem;
  }
  .main-header {
    order: 2;
    font-size: clamp(26px, 5vw, 30px);
    max-width: 100%;
  }
  .main-content {
    order: 3;
    font-size: 14px;
    max-width: 92%;
    margin: 1rem 0rem 2rem 0rem;
  }
  .main-accent-line {
    height: 0.1rem;
    width: 100%;
    background: #8a38f5;
    order: 4;
  }

  .photo-and-box-wrapper {
    order: 1;
    display: flex;
    align-items: flex-start;
    scale: 90%;
    width: 100%;
    margin-bottom: 4rem;
    max-height: 13rem;
    flex: 1 1 250px;
    max-width: 650px;
  }
  .my-photo-wrapper {
    width: 100%;
    max-width: 25rem;
    aspect-ratio: 1/1;
    border: 1px, solid, #fff;
    box-sizing: border-box;
    padding: 5px;
    background-size: contain;
  }
  .photo-accent-box {
    display: none;
  }
  .my-photo {
    background-image: url("../assets/images/myPortrait.webp");
    background-size: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  /* Divider Accent */
  .divider-accent-wrapper {
    display: flex;
    justify-content: center;
    margin: 4rem 0rem 2rem 0rem;
    height: 2rem;
  }
  .divider-accent-wrapper1 {
    display: none;
  }
  .divider-accent-line {
    background: #8a38f5;
    z-index: 8;
    width: 50%;
    height: 0.1rem;
  }
  .divider-accent-box {
    height: auto;
    aspect-ratio: 1/1;
    margin-top: -1.1rem;
    margin-left: 4.25rem;
    width: 40px;
    border: 1px dashed;
    color: #fff;
  }
  .floating-divider-accent-box {
    height: auto;
    aspect-ratio: 1/1;
    margin-top: -1.35rem;
    margin-left: 5.5rem;
    width: 40px;
    border: 1px dashed;
    color: #fff;
  }

  /* About Section Grid */

  .about-me-container {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .header-accent-line {
    height: 0.1rem;
    margin-top: 1.75rem;
    background: #8a38f5;
    width: 25%;
  }
  .floating-accent-box3 {
    border: 1px dashed rgb(255, 255, 255);
    width: 2rem;
    aspect-ratio: 1/1;
    box-sizing: border-box;
  }
  .box-wrapper {
    max-width: 0%;
    visibility: hidden;
  }
  .about-me-header-wrapper,
  .projects-header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    height: 2rem;
    margin: 0rem 1rem 2rem 1rem;
  }
  .about-me-header,
  .projects-header {
    font-size: clamp(26px, 5vw, 30px);
  }
  .about-paragraph-wrapper {
    font-size: 14px;
    margin: 0rem 1rem 0rem 1rem;
    width: 100%;
  }
  .floating-accent-box4 {
    display: none;
    height: 0rem;
  }
  .bullet-point {
    font-size: clamp(18px, 3vw, 20px);
    color: #8a38f5;
    margin: 1rem 0rem;
  }
  .tools-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-top: 1rem;
  }

  /* Projects Section */
  .all-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 41rem;
  }
  .project-container {
    max-width: 88%;
    border: solid 1px #fff;
    gap: 2rem;
    margin: 1rem auto;
    height: 22.5rem;
  }
  .project-image {
    width: 100%;
  }
  .project-title {
    font-family: "JetBrains Mono";
    font-weight: 400;
    line-height: 1.6rem;
    margin-top: 1rem;
  }
  .project-description {
    color: #fff;
    font-family: "JetBrains Mono";
    font-size: 14px;
    margin-bottom: 4%;
  }
  .tools-container2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .tool-icon {
    width: 1.5rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .projects-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5vh;
  }
  .tool-icons-mini-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .first-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0rem 1.25rem;
    margin-bottom: 2.35rem;
  }
  .project-title,
  .project-mini-description {
    color: #8a38f5;
    font-size: clamp(18px, 3vw, 20px);
  }

  .footer {
    margin: auto;
    padding-bottom: 2rem;
    width: 70%;
    height: 0.1rem;
    background-color: #8a38f5;
  }
}

/* Tablet (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }
  section {
  padding: 1rem 1rem;
  box-sizing: border-box;
}
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17rem 0rem 3rem 0rem;
  }

  .main-wrapper {
    flex: 1 1 400px;
    margin-top: 13rem;
    max-height: 15rem;
    order: 2;
    gap: 1rem;
    width: 71%;
  }
  .main-header {
    font-size: clamp(26px, 5vw, 30px);
    margin-top: 6rem;
  }
  .main-content {
    order: 3;
    font-size: 16px;
    width: 92%;
    margin-top: 1rem;
  }
  .main-accent-line {
    height: 0.1rem;
    width: 100%;
    background: #8a38f5;
    order: 4;
    margin-top: 1.5rem;
  }

  .photo-and-box-wrapper {
    scale: 80%;
    width: 100%;
    margin: -11rem 0rem 1rem 0rem;
    max-height: 13rem;
    max-width: 650px;
  }
  .my-photo-wrapper {
    width: 100%;
    max-width: 35rem;
    aspect-ratio: 1/1;
    border: 1px, solid, #fff;
    padding: 5px;
    margin: auto;
  }
  .photo-accent-box {
    position: absolute;
    top: 200%;
    left: 74%;
    width: 12rem;
    border: 1px dashed;
    aspect-ratio: 1/1;
  }
  .my-photo {
    background-image: url("../assets/images/myPortrait.webp");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .divider-accent-wrapper {
    display: flex;
    justify-content: center;
    margin: 5rem 0rem 5rem 0rem;
    height: 2rem;
  }
  .divider-accent-line {
    background: #8a38f5;
    width: 50%;
    height: 0.1rem;
  }
  .divider-accent-box {
    height: auto;
    aspect-ratio: 1/1;
    margin-top: -4rem;
    margin-left: 10.25rem;
    max-width: 4rem;
    border: 1px dashed;
    color: #fff;
  }
  .floating-divider-accent-box {
    height: auto;
    aspect-ratio: 1/1;
    margin-top: -2rem;
    margin-left: 8.5rem;
    max-width: 4rem;
    border: 1px dashed;
    color: #fff;
  }

  .about-me-container {
    display: flex;
    margin: auto;
    width: 72%;
  }
  .about-me-header-wrapper {
    margin: 1rem 0rem 2rem 6.75rem;
  }
  .projects-header-wrapper {
    margin: 0rem 0rem 2rem 6.75rem;
  }
  .about-me-header-wrapper,
  .projects-header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 72%;
    justify-content: flex-start;
    gap: 0.5rem;
    height: 2rem;
  }
  .about-me-header,
  .projects-header {
    font-size: clamp(26px, 5vw, 30px);
  }
  .header-accent-line {
    height: 0.1rem;
    margin-top: 1.75rem;
    background: #8a38f5;
    width: 25%;
  }
  .floating-accent-box3 {
    border: 1px dashed rgb(255, 255, 255);
    width: 2rem;
    aspect-ratio: 1/1;
    box-sizing: border-box;
  }
  .about-paragraph-wrapper {
    font-size: 16px;
    width: 100%;
  }
  .paragraph-spacer {
    height: 1rem;
  }
  .floating-accent-box4 {
    display: none;
  }
  .bullet-point {
    color: #8a38f5;
    font-size: 24px;
  }
  .tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4rem;
    row-gap: 2rem;
    margin: 3rem 0rem 4rem 0rem;
  }
  .tool-icon {
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  /* Projects Section*/
  .all-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1 1 30%;
    align-items: flex-start;
    height: 45rem;
  }
  .project-container {
    max-width: 350px;
    height: 24rem;
    border: white 1px solid;
  }
  .project-image {
    width: 100%;
  }
  .project-title,
  .project-description,
  .tools-container2 {
    color: white;
    font-family: "JetBrains Mono";
    font-size: clamp(16px, 2.5vw, 18px);
    line-height: 1.75rem;
    margin: 1rem 1rem 1rem 1rem;
  }
  .project-mini-description {
    font-size: clamp(16px, 3vw, 18px);
    margin: 1rem 0rem 1rem 0rem;
  }
  .tools-container2 {
    display: flex;
    justify-content: space-evenly;
  }
  .tool-icon {
    width: 1.5rem;
  }
  .project-title,
  .project-mini-description {
    color: #8a38f5;
    font-size: clamp(18px, 3vw, 20px);
  }
  .projects-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10vh;
    width: 72%;
    margin: 0rem 0rem 8rem 7rem;
  }
  .tool-icons-mini-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .footer {
    margin: auto;
    padding-bottom: 2rem;
    width: 70%;
    height: 0.1rem;
    background-color: #8a38f5;
  }
}

/* Desktop / Large Screens (≥ 1024px) */
@media (min-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10rem 7rem 6.5rem 7rem;
  }
  .main-wrapper {
    flex: 1;
    max-width: 50%;
    margin: 0;
  }
  .main-header {
    display: flex;
    font-size: clamp(1.75rem, 3vw, 2rem);
    margin-bottom: 1rem;
  }
  .main-content {
    font-size: clamp(1rem, 0.5vw, 1rem);
    line-height: 1.5rem;
  }

  /* Standard - wrapper for photo and accent box */
  .photo-and-box-wrapper {
    width: 350px;
    height: 350px;
    position: relative;
    display: block;
  }
  .my-photo-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    padding: 5px;
    box-sizing: border-box;
  }
  .my-photo {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/myPortrait.webp");
    background-size: cover;
    background-position: center;
  }
  .main-accent-line {
    height: 0.1rem;
    margin-top: 1.75rem;
    background: #8a38f5;
  }
  .photo-accent-box {
    position: absolute;
    top: 81%;
    left: 82%;
    width: 8rem;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 1px dashed rgb(255, 255, 255);
  }

  /* Standard - section divider accent */
  .divider-accent-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
  .divider-accent-line {
    height: 0.0625rem;
    background: #8a38f5;
    width: 30%;
    z-index: 8;
  }
  .divider-accent-box {
    width: 4rem;
    aspect-ratio: 1/1;
    margin-top: -4rem;
    margin-left: 10rem;
    border: 1px dashed rgb(255, 255, 255);
  }
  .floating-divider-accent-box {
    width: 4rem;
    aspect-ratio: 1 / 1;
    margin-top: -2rem;
    margin-left: 8rem;
    border: 1px dashed rgb(255, 255, 255);
  }

  /* Standard - About section  */
  .about-me-header-wrapper,
  .projects-header-wrapper {
    display: flex;
    align-items: baseline;
    gap: 0.25vw;
  }
  .about-me-header-wrapper {
    margin: 1rem 0rem 1rem 36.25rem;
  }
  .projects-header-wrapper {
    margin: 0rem 0rem 1rem 6.8rem;
  }
  .about-me-header,
  .projects-header {
    font-size: clamp(1.75rem, 0.5vw, 1rem);
  }

  .header-accent-line {
    height: 0.0625rem;
    width: 13rem;
    background-color: #8a38f5;
  }
  .floating-accent-box3 {
    border: 1px dashed rgb(255, 255, 255);
    padding: 1vw;
    aspect-ratio: 1/1;
    box-sizing: border-box;
  }

  .about-me-container,
  .all-projects-container {
    width: 86%;
    display: flex;
    flex-direction: row;
    margin: 0rem 7rem 2rem 7rem;
  }
  .all-projects-container {
    height: 36.35rem;
  }
  .box-wrapper {
    flex: 1 3 40rem;
    aspect-ratio: 1/1;
    margin: 0.5rem 5rem 0rem 0rem;
  }
  .accent-box4 {
    position: relative;
    width: 100%;
    height: 30vw;
    border: 1px solid #fff;
    box-sizing: border-box;
  }
  .floating-accent-box4 {
    position: absolute;
    top: 87.5%;
    left: 89%;
    width: 7vw;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 1px dashed rgb(255, 255, 255);
  }

  .about-paragraph-wrapper {
    color: #fff;
    font-size: 16px;
    max-width: 37rem;
  }
  .paragraph-spacer {
    height: 2rem;
  }

  .tools-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem 0.5rem 0rem;
    width: 100%;
  }
  .tool-icon {
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .bullet-point {
    font-size: clamp(20px, 5vw, 26px);
    margin: 0rem 2rem;
    color: #8a38f5;
  }

  /* Standard - Projects section */

  .all-projects-container {
    flex: 1 1 30%;
  }
  .projects-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1vw;
    gap: 5rem;
  }
  .project-container {
    flex: 1 1 300px;
    max-width: 400px;
    height: auto;
    border: solid 1px #fff;
  }
  .first-info-container {
    margin: 1rem;
  }
  .project-image {
    width: 100%;
  }
  /* .first-info-container {
    align-items: flex-start;
    gap: 1rem;
  } */
  .project-title {
    color: #8a38f5;
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .project-description {
    color: #fff;
    font-size: clamp(18px, 3vw, 20px);
  }
  .tools-container2 {
    display: flex;
    width: 100%;
    height: 4rem;
    gap: 2.5rem;
    margin: 1rem 0.65rem;
  }
  .tool-icon {
    width: 1.5rem;
    aspect-ratio: 1/1;
  }
  .project-mini-title {
    color: #fff;
    font-family: "JetBrains Mono";
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .project-mini-description {
    color: #8a38f5;
    font-size: clamp(18px, 3vw, 20px);
    margin-bottom: 1rem;
  }
  .tool-icons-mini-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-container {
    display: flex;
    justify-content: center;
  }
  .footer {
    margin-top: -3.5rem;
    padding-bottom: 2rem;
    height: 0.0625rem;
    background: #8a38f5;
    width: 50rem;
  }
}

/* 2. Large Desktop (1440px and up) */
@media screen and (min-width: 1440px) {
}
