/* Standard Layout (≥1024) */
@media screen and (min-width: 1024px) {

  .navbar {
    position: fixed !important;
    width: 100%;
    height: 6rem;
    background-color: #100310;
    z-index: 9;
  }
  .navbarInner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0% 5% 0% 10%;
    flex-shrink: 1;
  }
  .navbarBrand {
    font-family: "JetBrains Mono", monospace;
    font-size: large;
    color: #fff;
    transition: color 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .homeButton {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  .navbarBrand:hover {
    text-decoration: underline;
    color: #8a38f5;
  }
  .floatingAccentBox1 {
    width: 3rem;
    aspect-ratio: 1/1;
    background-color: #fff;
  }

  /* Standard - right-side nav links */
  .navItems {
    font-size: large;
    display: flex;
    gap: 1rem;
    justify-content: right;
  }
  .navItem {
    background: none;
    border: none;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
  }
  .navItem:hover {
    background-color: #100310;
    color: #8a38f5;
    text-decoration: underline;
  }
  .navItem.active {
    color: #8a38f5;
    text-decoration: underline;
  }

  /* Standard - hamburger */
  .hamburger {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none;
    margin-left: auto;
  }
   .hamNavItem {
    margin-left: 15%;
    color: #fff;
    padding-top: 10%;
  }

  /* Standard - left-side icon column  */
  .linkBox {
    font-size: xx-large;
    position: fixed;
    top: 0rem;
    flex-shrink: 0;
    height: 67%;
    width: 1.5rem;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  .downloadIcon {
    background: none;
    border: none;
    color: #fff;
    transition: color 0.2s ease;
    width: 1rem;
    z-index: 1;
  }
  .downloadIcon:hover {
    color: #8a38f5;
  }
  .contactIcons {
    color: #fff;
    font-size: 1.5rem;
  }
  .contactIcons:hover {
    color: #8a38f5;
  }
  .accentLine1 {
    transform: translateY(-0.85rem);
    width: 0.2rem;
    height: 52rem;
    background: #8a38f5;
  }
}

/*___________________________________________________*/
/*___________________________________________________*/

/* Tablet (≤1024px) */
@media (max-width: 1024px) {

  .navbar {
    position: fixed !important;
    width: 100%;
    height: 6rem;
    background-color: #100310;
    z-index: 9;
  }
  .navbarInner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0% 7% 0% 7.5%;
    flex-shrink: 1;
  }
  .navbarBrand {
    font-family: "JetBrains Mono", monospace;
    font-size: x-large;
    color: #fff;
    transition: color 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .homeButton {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  .navbarBrand:hover {
    text-decoration: underline;
    color: #8a38f5;
  }
  .floatingAccentBox1 {
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-color: #fff;
  }

  /* Tablet - right-side nav links  */
  .navItems {
    font-size: x-large;
    display: flex;
    gap: 1rem;
    justify-content: right;
  }
  .navItem {
    background: none;
    border: none;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
  }
  .navItem:hover {
    background-color: #100310;
    color: #8a38f5;
    text-decoration: underline;
  }
  .navItem.active {
    color: #8a38f5;
    text-decoration: underline;
  }

  /* Tablet - hamburger */
  .hamburger {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none;
    margin-left: auto;
  }

  /* Tablet - left-side icon column  */
  .linkBox {
    position: fixed;
    top: 0rem;
    flex-shrink: 0;
    height: 35.75rem;
    width: 1.5rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  .downloadIcon {
    background: none;
    border: none;
    color: #fff;
    transition: color 0.2s ease;
    width: 1rem;
    z-index: 1;
  }
  .downloadIcon:hover {
    color: #8a38f5;
  }
  .contactIcons {
    font-size: x-large;
    color: #fff;
    margin: 0.5rem 0;
  }
  .contactIcons:hover {
    color: #8a38f5;
  }
  .accentLine1 {
    transform: translateY(-0.85rem);
    width: 0.0625rem;
    height: 27.5rem;
    background: #8a38f5;
  }
}

/*___________________________________________________*/
/*___________________________________________________*/

/*  Mobile (≤768px) */
@media (max-width: 768px) {

  .navbar {
    position: fixed !important;
    width: 120%;
    height: 6rem;
    background-color: #100310;
    z-index: 9;
  }
  .navbarInner {
    padding: 0 1rem;
    gap: 6rem;
  }
  .navbarBrand {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.125rem;
    color: #fff;
    transition: color 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .homeButton {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  .navbarBrand:hover {
    text-decoration: underline;
    color: #8a38f5;
  }
  .floatingAccentBox1 {
    display: none;
  }

  /* Mobile - right-side nav links  */
  .navItems {
    position: absolute;
    font-size: large;
    top: 6rem;
    right: 22.5%; 
    width: 25vw; 
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #100310;
    padding: .5rem .1rem;
    border: 1px solid #8a38f5;
    box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.5);
    transform: translateX(0); 
    z-index: 9999;
  }
  .navItem {
    width: 20%;
    text-align: left;
  }
  .navItem:hover, .hamNavItem:hover {
    background-color: #100310;
    color: #8a38f5;
    text-decoration: underline;
  }
  .navItem.active, .hamNavItem.active {
    color: #8a38f5;
    text-decoration: underline;
  }
  .navItems.open {
    display: flex;
  }

  /* Mobile - hamburger */
  .hamburger {
    display: block;
    margin: auto;
  }
  .hamNavItem {
    margin-left: 13%;
    color: #fff;
    padding-top: 8%;
  }
  .fa-download {
    position: fixed;
    z-index: 10;
    margin-left: 7vw;
    top: 43.5%;
  }
  /* Mobile - hide left side column */
  .floatingAccentBox1,
  .linkBox,
  .accentLine1 {
    display: none;
  }
}

/*___________________________________________________*/
/*___________________________________________________*/

/* Small Mobile (≤480px) */
@media (max-width: 480px) {

  .navbar {
    position: fixed !important;
    width: 120%;
    height: 6rem;
    background-color: #100310;
    z-index: 9;
  }
  .navbarInner {
    padding: 0 1rem;
    gap: 6rem;
  }
  .navbarBrand {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.125rem;
    color: #fff;
    transition: color 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .homeButton {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0% 8% 0% -7%;
  }
  .navbarBrand:hover {
    text-decoration: underline;
    color: #8a38f5;
  }
  .floatingAccentBox1 {
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-color: #fff;
  }

  /* Small mobile - right-side nav links  */
  .navItems {
    position: absolute;
    top: 6rem;
    right: 22.5%; 
    width: 25vw; 
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #100310;
    padding: .5rem .1rem;
    border: 1px solid #8a38f5;
    box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.5);
    transform: translateX(0); 
    z-index: 9999;
  }
  .navItem {
    max-width: 20%;
    text-align: left;
  }
  .navItem:hover, .hamNavItem:hover {
    background-color: #100310;
    color: #8a38f5;
    text-decoration: underline;
  }
  .navItem.active, .hamNavItem.active {
    color: #8a38f5;
    text-decoration: underline;
  }
  .navItems.open {
    display: flex;
    margin-right: -1%;
    width: 23%;
  }

  /* Small mobile - hamburger */
  .hamburger {
    display: block;
    margin: auto;
  }
  .hamNavItem {
    margin-left: 13%;
    color: #fff;
    padding-top: 8%;
  }
  .fa-download {
    position: fixed;
    z-index: 10;
    margin-left: 7vw;
    top: 43.5%;
  }
}

  
