.navbar {
  position: fixed !important;
  width: 100%;
  margin: auto;
  background-color: #100310;
  z-index: 9;
}
.navbarGrid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 1rem;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 2000px;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.navbarInner {
  grid-column: 2 / span 14;
  display: grid;
  grid-template-columns: auto 1fr; /* Two parts: left for brand and right for nav links */
  align-items: center; 
}
.navbarBrand {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.125rem;
  color: #fff;
  transition: color 0.2s ease, background-color 0.2s ease;
  display: flex;
  gap: 0.75em;
}
.homeButton {
  text-decoration: none;
  background: none;
  border: none;
}
.navbarBrand:hover {
  text-decoration: underline;
  color: #8a38f5;
}
.floatingAccentBox1 {
  width: 1.5rem;
  aspect-ratio: 1/1;
  background-color: #fff;
}

/* Right side nav links (hamburger icon + nav items) */
.navItems {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
}

.navItem {
  display: block;
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem; 
  transition: background-color 0.2s ease, color 0.2s ease;
  font-family: "JetBrains Mono", monospace;
}

.navItem:hover {
  background-color: #100310;
  color: #8a38f5;
  text-decoration: underline;
}

.navItem.active {
  color: #8a38f5;
  text-decoration: underline;
}

.hamburger {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  display: none;
  margin-top: 1.75rem;
  margin-left: 2rem;
}

.linkBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 2rem;
  top: 0%;
  height: 35.75rem;
  width: 1.5rem;
  z-index: 1;
}

.downloadIcon {
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 1rem;
  margin: 0;
}

.downloadIcon:hover {
  background-color: #100310;
  color: #8a38f5;
}

.contactIcons {
  color: #FFF;
  margin: 0.5rem 0; /* Added margin for spacing between icons */
}

.contactIcons:hover {
  color: #8A38F5;
}

.accentLine1 {
  transform: translateY(-.85rem);
  width: 0.0625rem;
  height: 27.5rem;
  background: #8A38F5;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navItems {
    display: none;
    position: absolute;
    top: 5.5rem;
    right: 0;
    background-color: #000;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
  }

  .navItems.open {
    display: flex;
  }
}
