.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  margin: auto;
  background-color: #100310;
  padding-bottom: 2.5rem;
  z-index: 9;
}

.navbarInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarBrand {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  transition: color 0.2s ease, background-color 0.2s ease;
  display: flex;
  align-items: center;
  padding-top: 2.38rem;
  gap: 1em;
  padding-left: 7.87rem;
}

.homeButton {
  text-decoration: none;
}

.navbarBrand:hover {
  text-decoration: underline;
  color: #8A38F5;
}

.floatingAccentBox1 {
  width: 1.5rem;
  aspect-ratio: 1/1;
  background-color: #FFF; 
}

.navbarRight {
  display: flex;
  align-items: center;
}


/* Hamburger icon (hidden desktop, visible mobile) */
.hamburger {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  display: none;
}

.navItems {
  color: #FFF;
  transition: color 0.2s ease, background-color 0.2s ease;
  font-family: 'JetBrains Mono', monospace;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2.38rem;
  padding-right: 7.87rem;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 5.44rem;
  height: 1.5rem;
  text-decoration: none;
  color: #FFF
}

.navItem:hover {
  background-color: #100310 !important;
  text-decoration: underline !important;
  color: #8A38F5;
}

.navItem.active {
  color: #8A38F5;
  text-decoration: underline !important;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navItems {
    display: none;
    position: absolute;
    top: 5.5rem; /* Below navbar */
    right: 0;
    background-color: #000;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
  }

  .navItems.open {
    display: flex;
  }
}
