.container, .background {
  max-width: 100%;
  overflow-x: hidden;
}

/* projects page header section */
.projectDetailHeaderWrapper {
  grid-column: 2 / span 3;
  transform: translateX(-.75rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 18rem;
  height: 1rem;
  margin-top: 9rem;
  margin-bottom: 3rem;
}
.projectDetailHeaderLeft {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.projectDetailHeaderRight {
  color: #8A38F5;
  font-family: "JetBrains Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.verticalDividerLine {
  border: .75px solid #FFF;
  height: .75rem;
  width: .0025rem;
}


/* projects main section 1 */
.projectGrid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 1rem;
  margin: 0 auto; 
  padding: 0 1rem; 
  align-items: start;
  color: #FFF;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.projectTitle {
  grid-column: 2 / span 4;
  font-size: 1.5rem;
}
.projectDescription {
  grid-column: 2 / span 5;
  grid-row: 3 / 6;
  font-size: 1rem;
  align-self: stretch;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.projectLink {
  grid-column: 2/ span 3;
  font-size: 1rem;
  color: #FFF;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-bottom: 1.25rem; 
}
.accentLine6 {
  grid-column: 2/ span 3;
  height: 0.0625rem;
  background: #8A38F5;
}
.accentBox5 {
  grid-column: 8 / span 8;
  grid-row: 1/10;
  height: 25.5rem;
  flex-shrink: 0;
  border: 1px solid #FFF;
  height: 25.5rem;
  margin-top: 14rem;
}
.toolIconsb {
  grid-column: 2 / span 2;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  aspect-ratio: 1/1;
  height: 3rem;
}
.toolIcon1b, .toolIcon2b, .toolIcon3b {
  width: 1.5rem;
  aspect-ratio: 1/1;
}

.accentBox6 {
  grid-column: 2 / span 5;
  grid-row: 9/16;
  height: 19.25rem;
  flex-shrink: 0;
  border: 1px solid #FFF;
  margin-top: 7rem;
}
.projectDescription2 {
  grid-column: 8 / span 8;
  grid-row: 9/16;
  font-size: 1rem;
  align-self: stretch;
  margin-bottom: 1.25rem;
  margin-top: 8.19rem;
}

.accentBox7 {
  grid-column: 11 / span 5;
  grid-row: 16/16;
  height: 19.25rem;
  flex-shrink: 0;
  border: 1px solid #FFF;
  margin-top: 7rem;
  margin-bottom: 10rem;
}
.projectDescription3 {
  grid-column: 2 / span 8;
  grid-row: 16/16;
  font-size: 1rem;
  align-self: stretch;
  margin-bottom: 1.25rem;
  margin-top: 8.19rem;
}


.betweenSectionAccentLine4 {
  position: relative;
  grid-column: 6 / span  6;
  /* grid-row: 20/20; */
  height: 0.0625rem;
  background: #8A38F5;
  z-index: 8;
}
.betweenSectionAccentBox3 {
  position: relative;
  max-height: 2.63rem;
  left: 12%;
  bottom: 2000%;
  /* margin-top: .75rem; */
  aspect-ratio: 1/1;
  /* grid-column: 7 / span 1; */
  /* grid-row: 2/20; */
  z-index: 8;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}
.betweenSectionFloatingAccentBox3 {
  position: absolute;
  grid-column: 6 / span 1; 
  /* grid-row: 2/20;   */
  width: 2.63rem;
  aspect-ratio: 1 / 1;
  z-index: 8;
  bottom: 0%;
  left: 15.5%;
  background-image: 
    linear-gradient(to right, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%), 
    linear-gradient(to left, #FFF 50%, transparent 50%), 
    linear-gradient(to bottom, #FFF 50%, transparent 50%);
  background-size: 12px 1px, 1px 12px, 12px 1px, 1px 12px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: top left, top right, bottom left, top left;
}